:root {
  --bg-pattern: url("https://i.imgur.com/YWfmuxz.png");
}

._p ._p-container {
  background: 130px / 160px var(--bg-pattern);
}

._p ._p-description-content,
._p ._p-username-content {
  background: #3e3e3e;
  color: #fff;
}

._p ._p-item-main {
  background: #535353;
}

._p ._p-main {
  margin-top: 12rem;
}

._p ._p-heading-container,
._p ._p-passport-switcher{
  color: #a3a7b2;
}

._p ._p-passport-switcher{
  border-color: #a3a7b2;
}

@media (min-width: 1024px) {
  ._p ._p-container {
    background-size: 310px;
  }
}
